template
  ui-content(ui-scroll="" scroll.trigger="hideTitle(container.scrollTop<64)" ref="container" ui-margin="b--xs")
    div(ui-bg="primary-dark" ui-color="white")
      ui-row(ui-padding="x--md" halign="center" valign="middle")
        ui-col(size="auto")
          img(src.bind="app.config.logo" height="162")
        ui-col(size="auto")
          div(ui-font="d3") ${app.config.title}
          div(ui-font="h3" ui-weight="lighter") ${app.config.subtitle}
    div(ui-bg="secondary" css.bind="{height: '3px', transform: 'scaleY(0.5)'}" ui-margin="b--md t--xs")
    ui-container
      ui-row(ui-gutter="lg" ui-weight="light" ui-font="lg" halign="center" ui-margin="b--lg")
        a.x-home-link(as-element="ui-col" size="auto" width="10em" href="/docs/get-started")
          div
            i.mdi.mdi-star
          span Get Started
        a.x-home-link(as-element="ui-col" size="auto" width="10em" href="/docs")
          div
            i.mdi.mdi-package-variant
          span Components
        a.x-home-link(as-element="ui-col" size="auto" width="10em")
          div
            i.mdi.mdi-monitor-dashboard
          span Examples
      hr
      ui-row(ui-gutter="lg" halign="center" margin="b--lg")
        ui-col(size="6@md" max-width="45rem" content-stretch="" ui-padding="")
          ui-card
            ui-header
              ui-header-icon
                img(width="45px" src.bind="images.layout" ui-paper="" ui-margin="y--xxs")
              ui-header-title(ui-font="h3") Layout Elements
            ui-card-title(ui-font="serif" ui-color="muted" ui-text="title") Flexible page layouts
            ui-card-content(ui-font="md" ui-line="2" ui-weight="light")
              p
                | Create flexible application layouts using the specially desgined layout elements for
                | constructing pages
        ui-col(size="6@md" max-width="45rem" content-stretch="" ui-padding="")
          ui-card
            ui-header
              ui-header-icon
                img(width="45px" src.bind="images.theme" ui-paper="" ui-margin="y--xxs")
              ui-header-title(ui-font="h3") Themeable
            ui-card-title(ui-font="serif" ui-color="muted" ui-text="title") Easy themeing using sass
            ui-card-content(ui-font="md" ui-line="2" ui-weight="light")
              p
                | Make light/dark theme easily via the base-theme color usign sass color mix function
        ui-col(size="6@md" max-width="45rem" content-stretch="" ui-padding="")
          ui-card
            ui-header
              ui-header-icon
                img(width="45px" src.bind="images.input" ui-paper="" ui-margin="y--xxs")
              ui-header-title(ui-font="h3") Functional Inputs
            ui-card-title(ui-font="serif" ui-color="muted" ui-text="title") Extensive input elements
            ui-card-content(ui-font="md" ui-line="2" ui-weight="light")
              p
                | Functional input elments for text, lists & tags, date/time, phone numbers
        ui-col(size="6@md" max-width="45rem" content-stretch="" ui-padding="")
          ui-card
            ui-header
              ui-header-icon
                img(width="45px" src.bind="images.grid" ui-paper="" ui-margin="y--xxs")
              ui-header-title(ui-font="h3") Datagrid & Tree
            ui-card-title(ui-font="serif" ui-color="muted" ui-text="title") Data respresentation elements
            ui-card-content(ui-font="md" ui-line="2" ui-weight="light")
              p
                | Datagrids with resizeable, locked and sortable columns.
              p Tree with checkable and filterbale nodes
      ui-text-divider(ui-color="muted" ui-font="lg") Built On
      ui-row(ui-gutter="lg" ui-weight="light" ui-color="muted" ui-font="md" ui-align="center" halign="center" ui-margin="b--lg")
        ui-col(size="auto" ui-padding="x--lg")
          a.img-dev(href="//aurelia.io" target="_blank")
            img(src.bind="images.aurelia" height="96")
          p Aurelia
        ui-col(size="auto" ui-padding="x--lg")
          a.img-dev(href="//typescriptlang.org" target="_blank")
            img(src.bind="images.ts" height="96")
          p TypeScript
        ui-col(size="auto" ui-padding="x--lg")
          a.img-dev(href="//sass-lang.com" target="_blank")
            img(src.bind="images.sass" height="96")
          p Sass
      ui-text-divider(ui-color="muted" ui-font="lg") Repo
      ui-row(ui-gutter="lg" ui-weight="light" ui-color="muted" ui-font="md" valign="middle" halign="center" ui-margin="b--lg")
        ui-col(size="fill" ui-align="end")
          img(height="24" alt="GitHub Stars" src="https://img.shields.io/github/stars/adarshpastakia/sunshower-aire.svg?logoColor=blue&style=social&logo=github")
          span  
          img(height="24" alt="GitHub Forks" src="https://img.shields.io/github/forks/adarshpastakia/sunshower-aire.svg?logoColor=blue&style=social&logo=github")
          br
          img(height="42" alt="Travis Build" src="https://img.shields.io/travis/adarshpastakia/sunshower-aire/master.svg?style=popout-square&logo=travis&label=")
          span  
          img(height="42" alt="Code Climate coverage" src="https://img.shields.io/codecov/c/github/adarshpastakia/sunshower-aire/master.svg?style=popout-square&logo=codecov&label=")
        ui-col(size="auto")
          a.img-dev(href="//github.com/adarshpastakia/sunshower-aire" target="_blank")
            img(src.bind="images.git" height="96")
        ui-col(size="fill")
          img(height="24" alt="Github Issues" src="https://img.shields.io/github/issues/adarshpastakia/sunshower-aire.svg?logoColor=blue&style=social&logo=github")
          br
          img(height="42" alt="Latest Version" src="https://img.shields.io/npm/v/sunshower-aire/next.svg?style=popout-square&logo=npm&label=")
